*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  background : $bodyBg;
}

strong,
em {
  font-weight : 700;
}

ul {
  padding-left : 0;
  margin-left  : 2rem;
}
figure img{
  border: dotted 1px $darkColor;
}
