extends layouts/template
append config
	-currentPage = 'Contactos'
//- block banner
	include components/slider
block main
	.crt-container
		.crt-item
			h2.main-main__title.center Contáctenos
		.s-30.crt-item.l-block
			form.crt-container.form(v-on:submit.prevent="submitForm")
				.crt-item.form__item
					label.form__label(for="") Nombre completo: 
					input.form__input(v-model="vue.nombre" type="text" required="")
				.crt-item.form__item
					label.form__label(for="") Teléfono: 
					input.form__input(v-model="vue.telefono" type="number")
				.crt-item.form__item
					label.form__label(for="") Celular: 
					input.form__input(v-model="vue.movil" type="number" required="")
				.crt-item.form__item
					label.form__label(for="") Dirección: 
					input.form__input(v-model="vue.direccion" type="text" required="")
				.crt-item.form__item
					label.form__label(for="") Ciudad: 
					input.form__input(v-model="vue.ciudad" type="text" required="")
				.crt-item.form__item
					label.form__label(for="") Email: 
					input.form__input(v-model="vue.email" type="email" required="")
				.crt-item.form__item
					label.form__label(for="") Mensaje: 
					textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="")
				.crt-item.form__item.center
					button.button--(type="submit") Enviar
					button.button--(v-on:click="clearForm()") Limpiar
				.statusMessage(v-if="formSubmitted")
					h4(v-text="vue.envio")
		.s-70.crt-item.l-block
			h3.main-main__subtitle.center Ubíquenos
			<iframe src="https://www.google.com/maps/d/embed?mid=1F-66rtK-O5rfIMNJqaCz_bDtNCU" width="100%" height="480"></iframe>