extends layouts/template
append config
	-currentPage = 'Inicio'
block banner
	include components/slider
block main
	main.crt-container.main-main.l-block
		.crt-item
			h2.main-main__title.center Bienvenido a nuestro Sitio Web
		.crt-item
			p.center
				b CROMOTÉCNICA BOLIVIANA
				| , es una de las empresas más reconocidas en el ramo de muebles metálicos cromados, electroplastificados y accesorios cromados para vehículos en la ciudad de Cochabamba. Contamos con años de experiencia en el mercado, con personal técnico altamente calificado, maquinarias y equipo modernos, dando la capacidad de interpretar las necesidades reales de la gente de la oficina, la casa, los comercios, los hospitales, escuelas, etc.
			p.center Superando las expectativas y obteniendo productos singularmente soñados. Estamos comprometidos en promover el desarrollo sustentable.
	section.section.l-block
		.crt-item
			h2.title-bar--metalic.center PRODUCTOS NUEVOS
		.main-center
			.crt-item.crt-container.l-85
				.crt-item.l-25
					.card
						.card__img
							img(src='https://cloud10.todocoleccion.online/vintage-muebles/tc/2015/12/03/03/53111373.jpg')
						.card__content
							.t3.card__title.center Sillones para sala de espera
							p Llegó la nueva silla sillon 4 sillones lote vintage despacho o sala de espera - oficina en acero cromado
							footer.card__footer.to-center
								.card__button
									span
										b Ver más: 
									a.button--ghost--cta.small(href='#') Muebles hospitalarios

				.crt-item.l-25
					.card
						.card__img
							img.contain(src='http://impulso.com.gt/wp-content/uploads/2014/07/29-SILLA-EJECUTIVA-ROMA-BASE-CROMADA.jpg')
						.card__content
							.t3.card__title.center Silla Ejecutiva Roma base cromada
							p Llegó las nuevas sillas Ejecutivas Roma base cromada
							footer.card__footer.to-center
								.card__button
									span
										b Ver más: 
									a.button--ghost--cta.small(href='#') Muebles de oficina
				.crt-item.l-25
					.card
						.card__img
							img(src='https://cloud10.todocoleccion.online/vintage-muebles/tc/2015/12/03/03/53111373.jpg')
						.card__content
							.t3.card__title.center Sillones para sala de espera
							p Llegó la nueva silla sillon 4 sillones lote vintage despacho o sala de espera - oficina en acero cromado
							footer.card__footer.to-center
								.card__button
									span
										b Ver más: 
									a.button--ghost--cta.small(href='#') Muebles de oficina
				.crt-item.l-25
					.card
						.card__img
							img(src='https://home.ripley.com.pe/Attachment/WOP/2064174522841/2064174522841_2.jpg')
						.card__content
							.t3.card__title.center Juego de comedor Dina Vidrio
							p Llegó  el nuevo Juego de comedor Dina Vidrio 6 sillas
							footer.card__footer.to-center
								.card__button
									span
										b Ver más: 
									a.button--ghost--cta.small(href='#') Muebles para el hogar
		
	section.crt-container.main-main.l-block
		.crt-container
			.crt-item
				h2.title-bar--blue.center PROMOCIONES ESPECIALES
			.main-center.crt-item.crt-container#gallery
				.crt-item.l-50.l-block.crt-container
					.crt-item.m-60
						figure.gallery__item
							a(href="https://ae01.alicdn.com/kf/HTB1qDBARpXXXXXdXpXXq6xXFXXXq/Ajuste-para-Ford-Edge-2012-2013-2014-parachoques-delantero-y-trasero-parabrisas-Parachoques-labio-protector-antideslizante.jpg_640x640.jpg")
								img(src="https://ae01.alicdn.com/kf/HTB1qDBARpXXXXXdXpXXq6xXFXXXq/Ajuste-para-Ford-Edge-2012-2013-2014-parachoques-delantero-y-trasero-parabrisas-Parachoques-labio-protector-antideslizante.jpg_640x640.jpg", alt="")
							figcaption
								p 
					.crt-item.m-40
						h2 Gran oferta de parachoques delateros y traseros.
						p Gran oferta para Ford Edge 2012 2013 2014 parachoques delantero y trasero parabrisas Parachoques labio protector antideslizante ABS cromo acabado

				.crt-item.l-50.l-block.crt-container
					.crt-item.m-60
						figure.gallery__item
							a(href="https://industriascruzcentro.com/wp-content/uploads/2017/10/Pupitre-bipersonal.jpg.webp")
								img(src="https://industriascruzcentro.com/wp-content/uploads/2017/10/Pupitre-bipersonal.jpg.webp", alt="")
		
					.crt-item.m-40
						h2 En Oferta Pupitre Bipersonal En Madera
						p Estructura en tubo redondo de 1 y ½ pulgada calibre 18.  Pintura en polvo electrostática. Tapa en triplex de 19 mm. enchapada en formica bocelada y perfil plástico color negro.
						//- p Dos (2) sillas compañeras con estructura en tubo redondo de 7/8 calibre 18, asiento ergonómico asegurado con cuatro tornillos y tuercas de seguridad. Espaldar con sistema de ensamble, modelo ergonómico en polipropileno de primera calidad.

	section.section__first
		.crt-container
			.crt-item.l-50.crt-container.l-block
				.crt-item.l-50
					//- h2.t1 SERVICIO DE CROMADO
					h2 Servicio de pintado en cromado para cualquier material
					p Cromado de piezas: cromado de plastico, cromado de abs, cromado de polipropileno, cromado de polietileno, cromado de policarbonato, cromado de pvc, cromado de aluminio, cromado de hierro, cromado de latón, etc...
				.crt-item.l-50
					.card.card--next-class
						div
							a(href='#')
								img(src='https://cdn.ready-market.com/6/d65bba8a//Templates/pic/shiny_chrome.jpg?v=b92ea2be')
						.card__content
							.card__title
								a(href='#') SERVICIO DE CROMADO
							//- footer.card__footer
								
			.crt-item.l-50.crt-container.l-block
				.crt-item.l-50
					//- h2.t1 SERVICIO DE PINTURA ELECTROSTÁTICA
					h2 Servicio de pintado en cromado para cualquier material
					p Ofrecemos servicio de pintura electrostática para todo tipo de piezas metálicas y en aluminio con una amplia variedad de colores y texturas (lisas, mate o semi-mate), según el requerimiento del cliente. Nuestro moderno sistema logra recubrimientos más parejos penetrando incluso en zonas difíciles.
					//- p Manejamos estructuras metálicas hasta de 2.5m de Largo x 1.5m de ancho.
				.crt-item.l-50
					.card.card--next-class
						div
							a(href='#')
								img(src='https://images01.olx-st.com/ui/53/25/76/08/o_1495596096_934415382a7f6fd75f1516ea8925f5b6.jpg')
						.card__content
							.card__title
								a(href='#') SERVICIO DE PINTURA ELECTROSTÁTICA
							//- footer.card__footer
	section.section
		.crt-container
			.crt-item
				h2.title-bar--blue.center ESPECIALES PARA VEHICULOS
			.main-center.crt-item.crt-container
				.crt-item.crt-container.l-80
					.crt-item.l-1-3.l-block
						.card
							.card__img--circular
								img(src='http://www.lonascorcuera.cl/BarraAntivuelco/img/Barra-antivuelco-negra.jpg')
							.card__content
								.t3.card__title.center BARRAS ANTI-VUELCOS
								p 
								footer.card__footer.to-center
									.card__button 
										a.button--cta.small(href='#') Ver más
					.crt-item.l-1-3.l-block
						.card
							.card__img--circular
								img(src='https://i.ebayimg.com/images/g/BiYAAMXQ74JTQ2~h/s-l300.jpg')
							.card__content
								.t3.card__title.center BARRAS LATERALES
								p 
								footer.card__footer.to-center
									.card__button 
										a.button--cta.small(href='#') Ver más
					.crt-item.l-1-3.l-block
						.card
							.card__img--circular
								img(src='http://www.carryboy.cl/Content/products/30c0521d-fd6f-4c41-bf41-8da5259fa7d1.jpg')
							.card__content
								.t3.card__title.center PISADERAS
								p 
								footer.card__footer.to-center
									.card__button 
										a.button--cta.small(href='#') Ver más									