extends layouts/template
append config
	-currentPage = 'Muebles'
//- block banner
	include components/slider
block main
	.crt-container
		.crt-item
			h2.main-main__title.center #{currentPage}
		.crt-item.main-banner
			a.main-banner__item(href="#item01" style="background-image: url(https://images.pexels.com/photos/245208/pexels-photo-245208.jpeg?cs=srgb&dl=architecture-cabinets-carpet-245208.jpg&fm=jpg);")
				p.main-banner__title Item 1 prueba
			a.main-banner__item(href="#item02" style="background-image: url(https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);")
				p.main-banner__title Item 1 prueba
			a.main-banner__item(href="#item03" style="background-image: url(https://images.pexels.com/photos/271816/pexels-photo-271816.jpeg?cs=srgb&dl=apartment-architecture-bookcase-271816.jpg&fm=jpg);")
				p.main-banner__title Item 1 prueba
			a.main-banner__item(href="#item04" style="background-image: url(https://images.pexels.com/photos/271734/pexels-photo-271734.jpeg?cs=srgb&dl=contemporary-furniture-home-271734.jpg&fm=jpg);")
				p.main-banner__title Item 1 prueba
			a.main-banner__item(href="#item05" style="background-image: url(https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);")
				p.main-banner__title Item 1 prueba
			a.main-banner__item(href="#item06" style="background-image: url(https://images.pexels.com/photos/700549/pexels-photo-700549.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);")
				p.main-banner__title Item 1 prueba
		.crt-item
			h3.main-main__subtitle.center
				| Item 1 prueba
		
		.crt-item
			h3.main-main__subtitle.center
				| Item 1 prueba
		.crt-item
			h3.main-main__subtitle.center
				| Item 1 prueba
		.crt-item
			h3.main-main__subtitle.center
				| Item 1 prueba
		.crt-item
			h3.main-main__subtitle.center
				| Item 1 prueba
		.crt-item
			h3.main-main__subtitle.center
				| Item 1 prueba