extends layouts/template
append config
	-currentPage = 'Nosotros'
//- block banner
	include components/slider
block main
	.crt-container
		.crt-item
			h2.main-main__title.center #{currentPage}
		.crt-item.l-40
			h3.main-main__subtitle.center Misión
			p Fabricar y Diseñar muebles de alta calidad acorde a las exigencias y tendencias de clientes y mercado, garantizado calidad en nuestros productos y satisfacción a nuestros clientes.
			h3.main-main__subtitle.center Visión
			p Posicionar en el mercado Boliviano muebles con calidad y precios competitivos con un fuerte posicionamiento y satisfacción de nuestros clientes.
		.crt-item.l-60
			h3.main-main__subtitle.center Video presentación
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/NEzJSU3BKXA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>