extends ../layouts/template-stylesguide
append config
  -currentPage = 'Clase (video)'

block topbar
  article.video-class#video-class
    .video-class--container
      .video-class--element#video-element
        <iframe src="https://player.vimeo.com/video/258828489" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    footer.video-class--footer
      .crt-container.full
        .crt-item.s-60
          h1.video-class--title Variables CSS
          p.video-class--course.small Curso CSS Desde Cero (2018)
        .crt-item.s-40.cross-center.main-end
          .video-class--navigation
            img(src="https://ux.ed.team/img/icon-prev.svg").video-class--prev
            img(src="https://ux.ed.team/img/icon-next.svg").video-class--next

block main
  h1 Clase (video)
  p Para ofrecer la mejor experiencia de usuario al visualizar los videos de las clases, el video se ajusta al tamaño de la pantalla evitando desbordarse y aprovechando todo el espacio disponible.
  p Además, en móviles en disposición vertical el video está fijo en la parte superior.

  p El marcado es el siguiente:

  //pre
    code.language-pug
      | article.video-class#video-class
      |   .video-class--container
      |     .video-class--element#video-element
      |       iframe // video
      |   footer.video-class--footer
      |     .crt-container
      |       .crt-item
      |         h1.video-class--title Titulo de la clase
      |         p.video-class--course.small Titulo del curso
