/*
* Button definitions at config/_buttons.scss
*/

// Basic buttons
.button,
[class*="button--"]{
  @include button;
  &.center        { @include button-center }
  &.full          { @include button-full }
  &.button--small { @include button-small }
  &.button--last  { @include button-last }
  &.big           { font-size: fontSize(title3) }
}
// Buttons variations
.button--alert     { @include button-alert }
.button--cta       { @include button-cta }

// Ghost buttons
[class*="button--ghost"]  { @include button-ghost }
.button--ghost--alert     { @include button-ghost-alert }
.button--ghost--cta       { @include button-ghost-cta }
.button--metalic       { @include button-metalic }

// Show buttons in style guide
.show-buttons {
  .button, [class*="button--"] {
    //margin-bottom : 2rem;
  }
}
.button--goup{
  background: $thirdColor;
  color: white;
  position: fixed;
  bottom: 1.2rem;
  right: 1rem;
  z-index: $z-fixed;
  &:hover{
    background:$firstColor;
    color: white;
  }
  &.fade-in{
    opacity    : 1;
    transform  : translateY(0);
    transition : 0.5s all;
  }
  &.fade-out{
    opacity    : 0;
    transform: translateY(200%);
    transition : 0.5s all;
  }
}
