.gallery{
  &__item{
    // position: relative;
    margin: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    overflow: hidden;
    img{
      width: 100%;
      object-position: center;
      object-fit: contain;
      height: 100%;
    }
    a{
      position: relative;
      display: block;
      box-shadow: -1px 0px 2px $darkColor;
      border-right: solid 1px lighten($accentColor,30);
      height: 29vw;
      @include from(l){
        max-height: 200px;
      }
      &::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparentize($darkColor, 1);
        transition: .5s all;
      }
      &:hover{
        &::after{
          background: transparentize($darkColor, 0.5);
        }
      }
    }
    &--description{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: $z-normal;
      color: #FFF;
      @include mainCenter;
      @include crossCenter;
      text-align: center;
      opacity: 0;
      transition: opacity .5s .2s;
      p{
        width: 100%;
      }
      &:hover{
        opacity: .8;
      }
    }
  }
}