.text-center, .center {
  text-align : center;
}
.l-block-top{
  margin-top: 1rem;
}
.right {
  float: right;
}

.strong {
  font-weight : 700;
}
.s-14{
  @include edItem(100,100,14.285714286);
  padding: 0;
  margin-bottom: .5rem;
}
