.main-logo {
  position: relative;
  right: -.5rem;
  height  : 10rem;
  width   : 100%;
  display : block;
  // background: transparentize(#FFF, 0.35);
  img{
    object-fit: contain;
    height: 100%;
  }
  // &::before,&::after{
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   width: 100%;
  //   height: .75rem;
  //   background: linear-gradient(90deg,darken(#FFF,30),#FFF,darken(#FFF,30),#FFF,darken(#FFF,30));
  // }
  // &::before{
  //   top: 0;
  // }
  // &::after{
  //   bottom: 0;
  // }
}
