.main-banner {
  color         : $firstColor;
  // clip-path     : polygon(0 0, 100% 0, 100% 100%, 0 94%);
  position      : relative;

  // Separación del contenido
  // padding       : 2rem 0 3rem;
  // @include from(l) { padding: 8rem 0 10rem }

  &.main-banner--secondary { background : $secondColor  }
  &.main-banner--tertiary  { background : $thirdColor  }
  &.main-banner--accent    { background : $accentColor }
  &.main-banner--dark      { background : $darkColor   }
}

.main-banner__img {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  object-fit : cover;
  // opacity    : .1;
}

.main-banner__data {
  position: absolute;
  left: 0;
  bottom: 31px;
  background: linear-gradient(90deg, #a9a9a9, rgba(153, 153, 153, 0.361), rgb(255, 255, 255));
  box-shadow: 0 0 2px 0px $darkColor;
  text-shadow: 3px 0px 2px #fff;
  padding: 12px 25px 0;
  transform-origin: left bottom;
  transform: scale(1.6);
  h1{    
    text-transform: uppercase;
  }
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;

  a {
    color: inherit;
  }

  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }

  &-name {
    font-size : fontSize(small);
  }
}

.banner{
    // background    : yellow;
  display       : flex;
  height        : 300px;
  &__item{
    @include mainCenter;
    @include crossCenter;
    flex: 1;
    color: #FFF;
    font-weight: 600;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    box-shadow: inset -1px 0px 2px $darkColor;
    transition: all .5s;
    &:hover{
      box-shadow: inset 0 0 0 0 transparent;
      flex-grow: 5; 
      text-decoration: none;
      .banner__title{
        transform: rotate(0) scale(1.5);
      }
    }
    // &:nth-child(1){
    //   background: red;
    // }
    // &:nth-child(2){
    //   background: blue;
    // }
    // &:nth-child(3){
    //   background: green;
    // }
    // &:nth-child(4){
    //   background: orange;
    // }
    // &:nth-child(5){
    //   background: red;
    // }
    // &:nth-child(6){
    //   background: blue;
    // }
    // &:nth-child(7){
    //   background: green;
    // }
    // &:nth-child(8){
    //   background: orange;
    // }
  }
  &__title{
    background: transparentize($darkColor, 0.7);
    text-shadow: 0px 0px 4px $darkColor;
    padding: 0.4rem .6rem 0.1rem;
    line-height: 1;
    text-align: center;
    transform: rotate(-90deg);
    transition: transform .4s .3s;
  }
}
