/*
  MAIN MENU
  Este es el menú principal del sitio, aparece dentro de main header

  Su estructura es
    <nav class="main-menu" id="main-menu">
      <ul>
        <li><a href="#">Item de menu</a></li>
        <li><a href="#">Item de menu</a></li>
      </ul>
    </nav>

  En movil se activa con un botón de hamburguesa.
  En el ejemplo es un div pero puede ser cualquier elemento
  (debe estar fuera del nav)
    <div id="main-menu-toggle" class="main-menu-toggle to-l"></div>

  Entra por la derecha justo debajo de main-header

*/

.main-menu {
  a:hover {
    text-decoration : none;
    color: $thirdColor;
  }

  .active {

    @include from(l) {
      font-weight : 400;
      color: $thirdColor;

      &::before {
        display : none;
      }
    }
  }
}


body {
  position   : relative;
  right      : 0;
  transition : right .5s;

  &.main-menu-visible {
    @include to(l) {
      right      : 80%;
      overflow-y : hidden;
    }
  }
}

.main-menu-toggle {
  @include navToggle(20px, $bodyBg);
  align-self: center;
  left: 50%;
  transform: translateX(-50%);
}


@mixin main-menu {
  @include from(l){
    position: absolute;
    top: 0;
    left: 0;
  }
  font-size : fontSize(small);
  background: transparent url(../images/bar-left.png);
  background-size: 100% 100%;
  padding: 7px 50px 35px 1rem;
  @include to(l) {
    position   : fixed;
    top        : 0;
    background : rgba($firstColor, .95);
    width      : 80%;
    right      : -80%;
    padding    : 1em 1em 2em;
    height     : 100vh;
    transition : right .5s;
    overflow-y : auto;
    // @include mainCenter;
    // Mostrar el menu
    &.show {
      right : 0;
    }
  }

  ul {
    @include clearMenu;
    @include from(l) {
      display : flex;
    }
  }
  ul.to-l{
    @include hideFrom(l);
    color: $firstColor;
    text-transform: uppercase;
    li{
      padding: .4rem;
    }
    a{
      color: $firstColor;
    }
  }

  li {
    color         : #FFF;
    padding       : 1em 0;
    margin        : 0;
    text-align: center;

    @include from(l) {
      color       : $textColor;
      padding     : 0;
      margin-left : .5rem;
    }
  }

  a {
    color : inherit;
  }
  [class*="icon"]{
    margin-right: .25rem;
  }
}


.main-menu {
  @include main-menu;
  &__social{
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.main-links{
  ul{
    @include clearMenu;
    display: flex;
    margin-bottom: 0;
  }
  a{
    margin-bottom: 0;
    text-transform: uppercase;
    // height: 3rem;
  }
}
