.main-footer {
  background : $firstColor url(../images/background.jpg);
  color      : #FFF;
  padding    : 0;
  font-size  : fontSize(normal);
  margin-top : auto;
  &::before, &::after{
    content: '';
    display: block;
  }
  &::before{
    background: linear-gradient(darken($borderColor, 15), $borderColor,darken($borderColor, 30), $borderColor);
    height: 1rem;
    box-shadow: 0px 20px 80px 0px $darkColor;
  }
  &::after{
    box-shadow: 0px 20px 200px 10px $thirdColor;
  }
  a{
    color: #FFF;
  }
  &__title{
    border-bottom: solid $thirdColor;
  }
  p{
    margin-bottom: .5rem;
  }
}
