.main-header {
  height        : 10rem;
  border-bottom : 1px solid $borderColor;
  display       : flex;
  align-items   : center;
  background    : $firstColor url(../images/background.jpg);
  top           : 0;
  width         : 100%;
  left          : 0;
  z-index       : $z-fixed;
  box-shadow    : 0 0 8px 0px $darkColor;
  @include to(l){
    flex-direction: row-reverse;
  }
  & > .crt-item{
    height: 100%;
  }
}
