.main-main{
  &__title, &__subtitle{
    text-transform: uppercase;
  }
  &__title{
    background: linear-gradient($firstColor,lighten($firstColor,20), $firstColor);
    color: #FFF;
    font-size: fontSize(title1);
    padding-top: 7px;
    border-bottom: solid 1px $firstColorAlt;
    &::after{
      content: '';
      display: block;
      height: 5px;
      background: linear-gradient(90deg,silver, #FFF, silver, silver, #FFF);
    }
  }
  &__subtitle{
    padding-top: 4px;
    font-size: fontSize(title2);
    background: linear-gradient($borderColor,lighten($borderColor,20), $borderColor);
    color: $firstColor;
    border-bottom: solid 2px $thirdColor;
  }
}