.section{
  background: linear-gradient(-32deg, #aaaaaa, #ffffff, #b4b4b4, #ffffff, #9e9e9e);
    // color: #FFF;
    padding: 2rem 0 1rem;
  &__first{
    background: linear-gradient(60deg,$firstColor, lighten($firstColor, 20), $firstColor );
    color: #FFF;
    padding: 1rem 0 1rem;
  }
}