.tns-outer{
  position      : relative; 
  margin-bottom : 2rem;
  overflow      : hidden;
  box-shadow    : 0 0 10px $darkColor; 
  .main-banner{
    margin-bottom : 0;
    @include from(xl){ height: 480px; }
    @include fromTo(l,xl){ height: 440px; }
    @include fromTo(m,l){ height: 340px; }
    @include to(m){ height: 340px; }
  }
  [aria-hidden]{
    .main-banner__data{
      transition: 1.5s 1s transform;
    }
  }
  [aria-hidden="true"]{
    .main-banner__data{
      transform: scale(1.6) translateX(-100%);
    }
  }
  [aria-hidden="false"]{
    .main-banner__data{
      transform: scale(1.6) translateX(0);
      // animation: dataanimated 5s linear;
    }
  }
}
// @keyframes dataanimated {
//     0%{
//       transform: scale(1.6) translateX(0);
//     }
//     10%{
//       transform: scale(1.6) translateX(0);
//     }
//     70%{
//       transform: scale(1.6) translateX(30vw);
//       // opacity: 0;
//     }
//     100%{
//       transform: scale(1.6) translateX(100vw);
//       opacity: 0;
//     }
//   }
[aria-label="Carousel Navigation"], [aria-label="Carousel Pagination"], [data-action]{
  position : absolute;
  z-index  : $z-normal;
}
[data-action]{
  width      : 30px;
  height     : 30px;
  margin-top : 5px;
  margin-left: 5px;
  line-height: 2.4;
  @include from(l){ margin-top: 15px; margin-left: 15px; }
}
[aria-label="Carousel Navigation"]{
  // left     : 50%;
  right: 15px;
  bottom   : 15px; 
  transform: rotate(90deg);
  @include from(l){ bottom: 50px; }
  
  [data-controls]{ 
    width      : 40px;
    height     : 40px;
    margin     : 0 5px;
    line-height: 3.4;
  }
}
[data-action], [aria-label="Carousel Navigation"] [data-controls]{
  background   : $firstColor;
  color        : #FFF;
  border       : none;
  border-radius: 50%;
}
[aria-label="Carousel Pagination"]{
  margin-top: 5px;
  margin-right: 5px;
  right    : 0;
  @include from(l){ margin-top: 15px; margin-right: 15px; }
  button{
    width        : 15px;
    height       : 15px;
    border-radius: 50%;
    padding      : 0;
    border       : none;
    margin       : .3em;
    background   : $bodyBg;
    box-shadow   : inset 0 -3px 0 $borderColor;
    &[aria-selected="true"]{
      background: $thirdColorAlt;
      box-shadow: none;
    }
  }
}