.title-bar{
    background: linear-gradient($firstColor,lighten($firstColor,20), $firstColor);
    color: #FFF;
    font-size: fontSize(title1);
    padding-top: 7px;
    border-bottom: solid 1px $firstColorAlt;

    &::after{
      content: '';
      display: block;
      height: 5px;
      background: linear-gradient(90deg,silver, #FFF, silver, silver, #FFF);
    }
    &--metalic{
      position: relative;
      &::after{
        content: '';
        background: linear-gradient(44deg,#656ea1,#313b74,#586194,#2C3463);
        width: 3rem;
        height: 2.5rem;
        position: absolute;
        right: -5px;
        top: -2px;
        border-radius: 0 7px 7px 0;

      }
      padding-top: 4px;
      font-size: fontSize(title2);
      background: linear-gradient(90deg,darken($borderColor, 10),#FFF, #FFF, darken($borderColor, 10));
      border-bottom: solid 2px $thirdColor;
    }
    &--blue{
      position: relative;
      color: #FFF;
      &::after{
        content: '';
        background: linear-gradient(44deg,darken($firstColor, 10),$firstColor, $firstColor, darken($firstColor, 10));
        width: 35px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 7px 7px 0;

      }
      padding-top: 4px;
      font-size: fontSize(title2);
      background: linear-gradient(90deg,darken($thirdColor,10),$thirdColor,$thirdColor,darken($thirdColor, 10));
      border-bottom: solid 2px $firstColor;
      border-radius: 10px;
      letter-spacing: 0.3px;
    }
}