- var currentPage = 'Home'
- var siteName = 'CROMOTÉCNICA BOLIVIANA'
- var slogan = 'Fábrica de muebles cromados y electro plastificados'
- var description = ''

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/demo/'