td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.made-in{
  opacity: .28;
  &:hover{
    opacity: 1;
  }
}
.text-cta{
  color: $accentColor;
}
.cover{
object-fit: cover !important;
}
.contain{
object-fit: contain !important;
}