footer.main-footer
	.l-block
	.crt-container
		.crt-item.l-30.m-100.s-100.main-footer__item.l-block
			h2.t1.main-footer__title.center PRODUCTOS Y SERVICIOS
			.main-footer__content.main-center
				ul.feature-list
					li(v-for="item in mainmenu")
						a(v-if="item.submenu == null" :href="item.href" v-text="item.title")
						a(v-else :href="item.href" v-text="item.title")
						//- template(v-for="subitem in item.submenu")
							a(:href="subitem.href" v-text="' - ' + subitem.title")
		.crt-item.l-40.m-60.s-100.main-footer__item.l-block
			h2.t1.main-footer__title.center #{siteName}
			.main-center
				.main-footer__content
					p
						b FÁBRICA: 
						| Colcapirhua Norte, Av. Blanco Galindo Km. 9,<br> c. La Paz # 872 (a tres cuadras de Cementerio Colcapirhua)
						br 
						b Tel.: 
						| 4379054 / 
						b Cel:   
						span
							i.icon-whatsapp 
							span 70 71 70 27
						|      
						span.right
							a.button--cta.button--small(href="contactos.html") 
								| Ver mapa
								i.icon-marker
					p
						b COCHABAMBA: 
						| Av. Blanco Galindo # 854 Km. 4, acera Norte
						br
						| Tel.: 4022081
						|  
						span.right
							a.button--cta.button--small(href="contactos.html") 
								| Ver mapa
								i.icon-marker
					p
						b Zona: 
						| c. 25 de Mayo # 539, entre Calama y Ladislao Cabrera 
						br
						b Tel.: 
						| 4504784 / 
						b Cel:   
						span
							i.icon-whatsapp 
							| 72 22 88 88 
							|  
						span.right
							a.button--cta.button--small(href="contactos.html") 
								| Ver mapa
								i.icon-marker 
		.crt-item.l-30.m-40.s-100.main-footer__item.l-block
			h2.t1.main-footer__title.center Siguenos en:
			.main-footer__content.main-center.cross-center
				ul.social
					li: a.icon-whatsapp(href="https://api.whatsapp.com/send?phone=59171563681" target="_blank")
					li: a.icon-facebook(href="" target="_blank")
					li: a.icon-youtube(href="" target="_blank")
				p.center También puede contactarnos a:
					br 
					a(href="javascript:void(0)" target="_blank") vogp68@gmail.com
				p.center Todos los Derechos Reservados ®
					br
					b #{siteName} 
					| © 
					span#currentDate
				p: a.made-in(href='', target='_blank') Diseño y Programación: AH! Publicidad
