header.main-header.crt-container.full
  .crt-item.s-20.l-75.cross-end
    nav.main-menu#main-menu
      ul
        li
          a(href=path_page + "")
            i.icon-home
            | Inicio
        li
          a(href=path_page + "nosotros")
            i.icon-users
            | Nosotros
        li
          a(href=path_page + "contactos")
            i.icon-contact
            | Contactos
    .main-menu-toggle.to-l#main-menu-toggle
    nav.main-links.from-l
      ul
        li.s-14(v-for="item in mainmenu")
          a.button--metalic(href= path_page + "" v-text="item.title") Inicio
  .crt-item.s-80.l-25.cross-center.main-end
    a(href= path_page + "").main-logo
      img(src= path_media + 'images/cromotecnica-boliviana.png')
