include ../mixins/main-banner
//- .slider-next.button NEXT
//- .slider-prev.button PREV
.crt-container(style= "display:none;")
  .slider-prev <i class="icon-left"></i>
  .slider-next <i class="icon-right"></i>
.crt-slider
  +banner(path_media + "images/slide1.jpg", '', '', '', false, false)
  +banner(path_media + "images/slide1.jpg", '', '', '', false, false)
  +banner(path_media + "images/slide1.jpg", '', '', '', false, false)
  +banner(path_media + "images/slide1.jpg", '', '', '', false, false)
