// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : .5em .6em 0.4em;
  background      : $firstColor;
  color           : #FFF;
  margin-right    : 0.35rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    background      : darken($firstColor, 5);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding: .1rem .5rem;
  font-size: fontSize(small);
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-alert {
  background : $thirdColor;

  &:hover {
    background : $thirdColorAlt;
  }
}

@mixin button-cta {
  background : $accentColor;

  &:hover {
    background : $accentColorAlt;
  }
}

@mixin button-ghost {
  color      : $firstColor;
  background : none;
  border     : 1px solid;

  &:hover {
    background   : $firstColor;
    color        : #FFF;
    border-color : transparent;
  }
}

@mixin button-ghost-alert {
  color : $thirdColor;

  &:hover {
    background : $thirdColor;
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : $accentColor;

  &:hover {
    background : $accentColor;
    color      : #FFF;
  }
}

@mixin button-metalic {
  @include crossCenter;
  @include mainCenter;
  min-width: 105px;
  height: 3.2rem;
  line-height: 1;
  overflow: hidden;
  font-family: $heading-font;
  color: $firstColor;
  background : linear-gradient($textColor, #FFF, #FFF,$textColor);
  border: ridge 4px $borderColor;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,.5), 
  inset 0 1px hsla(0,0%,100%,.3), 
  inset 0 10px hsla(0,0%,100%,.2), 
  inset 0 10px 20px hsla(0,0%,100%,.25), 
  inset 0 -15px 30px rgba(0,0,0,.3);
  font-weight: 700;
  &:hover {
    background : linear-gradient($borderColor,#FFF, $borderColor);
    color: $thirdColor;
    border: ridge 4px darken($borderColor, 15);
  }
}