// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container : crt-container;
$item      : crt-item;
$max-width  : 1344px;
$gutter     : .5rem;

//layout
:root {
  --header-height : 3rem;
  --max-width     : 1344px;
  --gutter        : 1rem;
}

// Breakpoints
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 1024px,
  xl : 1440px
);

// Fracciones para calcular anchos de los items
$fractions : 3 6;

// Colors
$firstColor    : #2C3463;
$firstColorAlt : #45519e;
$secondColor     : #3998d4;
$secondColorAlt  : #9ccaed;
$thirdColor     : #FF3C32;
$thirdColorAlt  : #FF2419;
$accentColor    : #FBA905;
$accentColorAlt : #F1A000;
$darkColor      : #282D31;

// Complementary colors
$borderColor : #dadada;
$textColor   : #53575A;
$textColorAlt: #32166B;
$bodyBg      : #FAFDFF;

// z-index
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

:root {
  --z-back    : -10;
  --z-normal  : 1;
  --z-tooltip : 10;
  --z-fixed   : 100;
  --z-modal   : 1000;
}

// Images path
$images-path: 'http://ux.ed.team/img';
